## DICTIONARIES

In [1]:
dt = {'A':25,'B':50,'C':75,'D':100}

print(dt.keys())
print(dt.values())

dict_keys(['A', 'B', 'C', 'D'])
dict_values([25, 50, 75, 100])

In [2]:
dt = {'A':25,'B':50,'C':75,'D':100}
print(dt['A']) # accessing items

25

In [3]:
dt = {'A':25,'B':50,'C':75,'D':100}
dt['D'] = 500 # to update the value of a particular key
dt['E'] = 200 # to insert a new key
print(dt)

{'A': 25, 'B': 50, 'C': 75, 'D': 500, 'E': 200}

In [4]:
dt = {'A':25,'B':50,'C':75,'D':100}
# print(dt['Bl']) # returns the corresponding value but raises KeyError if key is not present
print(dt.get("Bl")) # returns the corresponding value but returns None if key is not present
print(dt.get('Bl','Not Found')) # Editing the return message for absent keys

None
Not Found

In [5]:
dt = {'A':25,'B':50,'C':75,'D':100}
# dt2 = dt.copy()
print(dt.pop('B')) # removes specified key-value pair on passing the corresponding key and returns the value of respective key
print(dt.popitem()) # removes last-key-value pair and returns the same pair
print(dt)

50
('D', 100)
{'A': 25, 'C': 75}

In [6]:
dt1 = {'A':25,'B':50,'C':75,'D':100}
dt2 = {'E':200,'F':300}
dt1.update(dt2)
print(dt1)

{'A': 25, 'B': 50, 'C': 75, 'D': 100, 'E': 200, 'F': 300}

In [7]:
ls = ['A','B','C','D','E']
dt = dict.fromkeys(ls,100) # to create dictionary with same values
print(dt)

{'A': 100, 'B': 100, 'C': 100, 'D': 100, 'E': 100}

In [8]:
# dt.setdefault()

In [9]:
dt = {'A':25,'B':50,'C':75,'D':100}
output = list(dt.items())
print(output[2][1])

75

In [10]:
# NESTED DICTIONARIES

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily["child2"]["name"])

Tobias

In [11]:
# LOOP IN NESTED DICTIONARIES

for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

## DICTIONARY PRACTICE

In [12]:
student_marks = {'name':["rahul kumar","Rocky","mohit","suresh"],
                'marks':[25,36,45,29],
                'subject':'science'} 
# print(type(student_marks))
# print(student_marks)

# TO ACCESS NO. OF NAMES IN THE DICTIONARY

# out = list(student_marks.items())
# print(len(out[0][1]))

# print(len(student_marks['name']))

In [13]:
student_marks = {'name':["rahul kumar","Rocky","mohit","suresh"],
                'marks':[25,36,45,29],
                'subject':'science'} 

# ls = student_marks['name']
# ls[3] ="mahesh"
# # print(ls)
# student_marks['name'] = ls
# print(student_marks['name'])

# student_marks['name'][3] = 'mahesh'
# print(student_marks['name'])

In [14]:
student_marks = {'name':["rahul kumar","Rocky","mohit","suresh"],
                'marks':[25,36,45,29],
                'subject':'science'} 

student_marks['subject'] = 'maths'
student_marks['name'].remove('Rocky')
student_marks['marks'].remove(36)
student_marks['name'].insert(1,'roshni')
student_marks['marks'].insert(1, 49)
print(student_marks)

{'name': ['rahul kumar', 'roshni', 'mohit', 'suresh'], 'marks': [25, 49, 45, 29], 'subject': 'maths'}

In [15]:
x = 10
y = 2
print(x/y)

5.0